* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    background-color:navy;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;

}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: white;
}

body {
    /* more of this crazy alphanumerical value in a min! */
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
}

header nav {  
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero {
    background-color: lightgray;
    background-size: cover;
    background-position: 80%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}

.hero img {
    height: 30%;
    width: 30%;
}